
<h1>All Neighborhoods</h1>
<a href="/dashboard/neighborhoods/new">Add New Neighborhood</a>
<ul>
  <% neighborhoods.forEach(n => { %>
    <li>
      <h3><%= n.name %></h3>
      <% if (n.neighborhoodPhoto) { %>
        <img src="/uploads/neighborhoods/<%= n.neighborhoodPhoto %>" alt="Neighborhood Photo" width="150">
      <% } %>
      <div>
        <a href="/dashboard/neighborhoods/<%= n._id %>">View</a>
        <a href="/dashboard/neighborhoods/<%= n._id %>/edit">Edit</a>
        <button onclick="showModal('deleteNeighborhoodModal_<%= n.id %>')" class="text-red-600 hover:underline">Delete</button>
      </div>
    </li>
    
    <!-- this is not test case , this is for popup message for delete  -->
    <%- include('../layouts/confirmDelete', {
      modalId: `deleteNeighborhoodModal_${n.id}`,
      message: 'هل أنت متأكد من أنك تريد حذف هذا الحي؟',
      deleteAction: `/dashboard/neighborhoods/${n._id}?_method=DELETE`
    }) %>
    <% }) %>
    <%- include('../layouts/successDelete', { message }) %>
</ul>
