<h1>All Blogs</h1>

<a href="/dashboard/blogs/new">Add New Blog</a>
<ul>
    <% blogs.forEach(b=> { %>
        <li>
            <h3>
                <%= b.title %>
            </h3>
            <p>Blog Category: <%= b.blog %>
            </p>
            <div>
                <a href="/dashboard/blogs/<%= b._id %>">View</a>
                <a href="/dashboard/blogs/<%= b._id %>/edit">Edit</a>
                <form action="/dashboard/blogs/<%= b._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Delete this blog?')">Delete</button>
                </form>
            </div>
        </li>
        <% }) %>
</ul>