<h1>
    <%= blog.title %>
</h1>

<p>
    <%= blog.description %>
</p>
<p>Associated Job: <%= blog.job.name %>
</p>
<a href="/dashboard/blogs">Back to Blogs</a> |
<a href="/dashboard/blogs/<%= blog._id %>/edit">Edit</a>
<form action="/dashboard/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display:inline;">
    <button type="submit" onclick="return confirm('Delete this blog?')">Delete</button>
</form>