<h1>
    <%= job.name %>
</h1>
<img src="/uploads/jobs/<%= job.jobPhoto %>" alt="<%= job.name %>" width="200" />
<p>Main Description: <%= job.mainDescription %></p>
<p>Sub Description: <%= job.subDescription %></p>
<p>Neighborhood: <%= job.neighborhoodName.name %></p>

<a href="/dashboard/jobs">Back to Jobs</a> |
<a href="/dashboard/jobs/<%= job._id %>/edit">Edit</a>
<form action="/dashboard/jobs/<%= job._id %>?_method=DELETE" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
</form>
