<h1>
  <%= job ? 'Edit' : 'Add' %> Job
</h1>

<form action="<%= job ? '/jobs/' + job._id + '?_method=PUT' : '/jobs' %>" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Job Name" value="<%= job?.name || '' %>" required>

  <select name="neighborhoodName" required>
    <% neighborhoods.forEach(n=> { %>
      <option value="<%= n._id %>" <%=job && job.neighborhoodName?.equals(n._id) ? 'selected' : '' %>><%= n.name %>
      </option>
      <% }) %>
  </select>

  <input type="file" name="jobPhoto" <%=job ? '' : 'required' %> >

  <textarea name="mainDescription" placeholder="Main Description" required><%= job?.mainDescription || '' %></textarea>
  <textarea name="subDescription" placeholder="Sub Description"><%= job?.subDescription || '' %></textarea>

  <button type="submit">
    <%= job ? 'Update' : 'Create' %>
  </button>
</form>